body {
    margin: 0;
    padding: 0;
    background: #000;
  }
  
  #KonversiNilai {
    width: 50%;
    margin: 0 auto;
    height: 400px;
    background: linear-gradient(to right, #00FFFF, #800080);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #000;
    box-shadow: 0 0 50px #00FFFF;
  }
  
  .Header h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px #00FFFF;
    margin-bottom: 50px;
  }
  
  .perubahan {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
  }
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 60%;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #00FFFF;
  }
  
  button {
    background: #fff;
    color: #000;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px #800080;
  }
  
  button:hover {
    background: #800080;
    color: #fff;
    box-shadow: 0 0 20px #800080, 0 0 40px #800080, 0 0 80px #800080;
  }
  
  #hasil {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    text-shadow: 0 0 20px #800080;
  }
  